<ion-view title="Z A H I R R A">
    <ion-nav-buttons side="left">        
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>        
    </ion-nav-buttons>
    <ion-nav-buttons side="right">        
        <a menu-toggle="right" class="button button-icon icon ion-android-search" href="#/app/search"></a>        
        <button menu-toggle="right" class="button button-icon icon ion-android-options" ng-click="showAlert()"></button>        
    </ion-nav-buttons>
    <ion-content class="has-header" style="background: #99ff33;">      
        <br/>
        <div class="card" data-ng-repeat="p in show_new_products" style="width: 140px; float: left; height: 175px; box-shadow: 0px 3px 3px grey; margin-right: 1px; margin-top: -10px;">
            <div class="item item-thumbnail-center" style="height: 175px;">                
                <a href="#/app/products/{{ p.id }}">
                    <img ng-src="{{ p.image }}" style="width: 100%;" alt="Loading...">
                </a>
                <p style="position: absolute; bottom: 15px;">{{ p.kode }}</p>
                <p style="font-weight: bold; position: absolute; bottom: 2px; text-align: center;">Rp. {{ p.price }}</p>                                
            </div>
        </div>        
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <button class="button button-stable">Most Viewed</button>
        </div>
        <h1 class="title">&nbsp;</h1>
        <div class="buttons">
            <button class="button button-stable">Last Sold</button>
        </div>
    </ion-footer-bar>
</ion-view>