<ion-view title="Rincian Produk">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button class="button-icon ion-ios-arrow-back"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="right">        
        <button menu-toggle="right" class="button button-icon icon ion-archive" ng-click="showInfoDownload()"></button>
        <button menu-toggle="right" class="button button-icon icon ion-thumbsup" ng-click="showInfoThumbs()"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">      
        <div data-ng-repeat="p in product" style="padding: 10px;">
            <div style="padding: 10px;">                
                <span style="font-weight: bold; font-size: 20px;">{{ p.title }}</span>
                <table style="margin-bottom: 10px; font-size: 11px;">
                    <tr>
                        <td>Rp. {{ p.price }},- &nbsp;</td>
                        <td>Dilihat : {{ p.clicked }}&nbsp;</td>
                        <td>Stock : {{ p.soldout }}</td>
                    </tr>
                </table>                
            </div>
            <div class="item item-image">    
                <img ng-src="{{ p.image }}">
            </div>
            <div>
                <a href="#" ng-click="share()" class="button button-stable button-block">SHARE</a>
                <a href="#/app/cart/{{ p.id }}" class="button button-balanced button-block">BELI</a>
            </div>
            <div>
                <strong style="font-size: 14px; margin-top: 20px">Deskripsi Produk</strong>
                <div id="deskripsi" data-ng-bind-html="p.decriptions"></div>
            </div>
            <div style="font-size: 10px; text-align: center; color: #cccccc; margin-top: 30px;">
                Last Update Price : {{ p.update_at }}
            </div>
        </div>
    </ion-content>
</ion-view>