<ion-view>
    <ion-nav-buttons side="right">        
        <!--<button menu-toggle="right" class="button button-icon icon ion-android-search" ng-click="login()"></button>-->        
        <a menu-toggle="right" class="button button-icon icon ion-android-search" href="#/app/search"></a>        
    </ion-nav-buttons>

    <ion-content class="has-header" style="background: #99ff33;">      
        <br/>
        <a href="#" rel="next"></a>
        <div class="card" data-ng-repeat="p in commits" style="width: 140px; float: left; height: 175px; box-shadow: 0px 3px 3px grey; margin-right: 1px; margin-top: -10px;">
            <div class="item item-thumbnail-center" style="height: 175px;">                
                <a href="#/app/products/{{ p.id }}">
                    <img ng-src="{{ p.image }}" style="width: 100%;" alt="Loading...">
                </a>
                <p style="position: absolute; bottom: 15px;">{{ p.kode }}</p>
                <p style="font-weight: bold; position: absolute; bottom: 2px; text-align: center;">Rp. {{ p.price }}</p>                                
            </div>
        </div>        

        <!-- Infinite Scroll is activated here to load if more pages exist. -->
        <ion-infinite-scroll on-infinite="loadProducts()" ng-if="more"></ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive">
        <div class="buttons" ng-click="login()">
            <button class="button">Filter</button>
        </div>        
        <h1>&nbsp;</h1>
        <div class="buttons" side="right">
            <button class="button" menu-toggle="right">Sort by</button>
        </div>
    </ion-footer-bar>
</ion-view>