<ion-view title="Z A H I R R A">
    <ion-content class="has-header">      
        <div class="list card product_detail" data-ng-repeat="p in product">
            <div class="item item-avatar">
                <img data-ng-src="{{ p.image }}" style="width: 100%;">
                <h2 style="font-weight: bold;">{{ p.title }}</h2>
                <p>Rp. {{ p.price }},-</p>
            </div>

            <div class="item item-body">    
                <img class="full-image" data-ng-src="{{ p.image }}" style="width: 100%;">
                <p>
                    <strong>Deskripsi Produk</strong>
                    <div data-ng-bind-html="p.decriptions"></div>
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
            <br/>
            <a href="#/app/add_to_cart/{{ p.id }}" class="button button-positive button-full">B E L I</a>
            <br/>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>