<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Share</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeShare()"><span class="icon ion-close"></span></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <center>
            <table cellpadding="20" cellspacing="20">
                <tr>
                    <td><span class="ion-social-facebook"></span> Facebook</td>
                    <td><span class="ion-social-twitter"></span> Twitter</td>
                </tr>
                <tr>
                    <td><span class="ion-social-googleplus"></span> Google+</td>
                    <td><span class="ion-social-pinterest"></span> Pinteres</td>
                </tr>
            </table>
        </center>
    </ion-content>
</ion-modal-view>
