<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Share</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeShare()"><span class="icon ion-close"></span></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <center>
            <table>
                <tr>
                    <td>Facebook</td>
                    <td>Twitter</td>
                </tr>
                <tr>
                    <td>Google+</td>
                    <td>Pinteres</td>
                </tr>
            </table>
        </center>
    </ion-content>
</ion-modal-view>
